.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ef5d0e;
  gap: 20px;
  padding: 20px;
}



.imgcard {
  width: 300px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}